
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20%;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.App-main-paige {
  background-color: #69857154;
  min-height: 90vh;
  padding-top: 30px;
  
}

.car-container {
  margin-top: 20px;
  background-color: #B7C3BA;
  padding: 20px;
  border-radius: 8px;
}

.brand-model {
  padding: 0 5px 20px;
  font-weight: bold;
}

.title-header {
  padding-left: 10%;
}

