#root {
  background-color: #69857154;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20%;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.App-main-paige {
  min-height: 90vh;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.loading {
  width: 20%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 35%;
  padding: 20px 0 20px 0;
  border-radius: 8px;
  background-color: #B7C3BA;
}

.car-container, .cart {
  margin-top: 20px;
  background-color: #B7C3BA;
  padding: 20px;
  border-radius: 8px;
}

.cart {
  padding: 5px 10px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  border: 1px solid #333 ;
  padding: 15px;
  border-radius: 8px;
  margin: 5px;
}

.brand-model {
  padding: 0 5px 20px;
  font-weight: bold;
}

.title-header {
  padding-left: 10%;
}

