.cart-item__action {
    display: flex;
    align-items: flex-start;
}

.quantity {
    display: flex;
    margin: 0 10px;
}

.quantity .btn {
    border-radius: 50%;
}

.quantity-number {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}


.cart-item__action .btn {
    cursor: pointer;
}
