
.titlu{
  text-align: center;
  /* border: 0px solid #1153B6; */
}
.btn-primary{
  height: 40px;
  justify-content: center;
  
}
/* Make the whole thing smaller with 
transform: scale(70%) */
base-color: red;

#console-log-div {
  min-height: 55px;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 5px 0 0 0;
  
  font-family: "Input Mono", monospace;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.4em;
  
  color: rgba(0,0,0,.61);
  border-radius: 2px;
  
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
  background-color: red;
   
  #legend {
    padding-bottom: 90px;
    font-size: 1.2em;
  }
  .log-row {
    &:nth-child(odd) {
      background: rgba(0,0,0,.1);
    }
  }
  thead {
    background: rgba(0,0,0,.2);
    
  }
}

/* colors */
#console-log-div {
  width: 35% !important;
  background-color: #1153b6;
  text-align: center;
}
#log {
  margin: 10px 0px;
  display: block;
  white-space: pre;
  font-family: monospace;
}
#log:before {
  content: "log javascript:";
  font-style: italic;
  color: rgb(12, 5, 5);
}
h1,
h2,
p {
  font-family: sans-serif;
  font-weight: 900;
  line-height: 1.2em;
}

h1 {
  background: rgb(255, 252, 252);
  padding: 0.25em;
  color: rgba(13, 33, 126, 0.37)
  font-size: 3em;
}

h2 {
  display: inline-block;
  margin: 0 auto 0.5em auto;
  padding: 0.5em;
  font-size: 1.6em;
  color: #FFF;
  background: #23a3b4;
}

p {
  max-width: 510px;
  padding: 0.75em;
  line-height: 1.7em;
}

code {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  padding: 5px;
  background: #ebebeb;
}
.flex-box-container-1{
  padding: 10px;
  flex-direction: row;
  justify-content: center;
}
.flex-box-container-1 div{
  display: flex;
  padding: 10px;
  border: 1px solid purple;
  align-items: center;
}
body{
  background-color: rgba(3, 19, 43, 0.747) ;
  align-items: center;
}
.console-log-div {
  width: 95% !important;
  background-color: #efefef;
}
#log {
  margin: 10px 0px;
  display: block;
  white-space: pre;
  font-family: monospace;
}
#log:before {
  content: "log javascript:";
  font-style: italic;
  color: rgb(27, 189, 211);
}
table td{
  border: 1px solid black;
}