table, th, tr, td {
  border: 1px solid;
  border-collapse: collapse;
  margin: auto;
}

th {
  padding: 5px;
  background-color: blanchedalmond;
}

td {
  padding: 10px;
}

.list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: 10rem;
}

.table-container {
  margin: 10px 30px;
  align-content: center;
  text-align: center;
}

.hide-item {
  display: none;
}