.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

main{
  display: flex;
}

.App-link {
  color: #61dafb;
}
.cart-container,
.mountains-container {
  margin: 5px;
  padding: 10px;
}
.cart-container button,
.mountains-container button,
.mountains-container span,
.cart-container span {
  margin: 0 5px;
}

.button {
  border-radius: 5%;
  border: 1px solid burlywood;
  margin: auto 10px;
  padding: 5px 10px;
  display: block;
}
/* .language-btn {
  
}
.theme-btn {
} */
 
 
.hover {
  background-color: cadetblue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
