.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    margin: 20px;
    border: 1px solid #F5B355;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}